<h1>List of all text entries</h1>

<table>
	<% @text_entries.each do |t| %>
	<tr class="text_entry_<%=t.id%>">
		<td><a href="<%= text_entry_path(t)%>"><%= t.title %></a></td>
		<td><a href="<%= edit_text_entry_path(t)%>">EDIT</a></td>
		<td>
			<form action="<%=text_entry_path(t)%>" method="post">
				<input type="hidden" value="delete" name="_method">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<button>DELETE</button>
			</form>
		</td>


	</tr>
	<% end %>
</table>

<a href="<%= new_text_entry_path %>">Create a New Text Entry</a>