
<div class="">
	<h2><%= @text_entry.title %>: <%= @text_entry.source %></h2>
	<p class="well"><%= @text_entry.content %></p>
</div>

<div class="col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Enter a Classification</h3>
		</div>
		<div class="panel-body">
			<form action="<%= classifications_path %>" method="post">
				<div class="form-group">
					<% if @text_entry.source == "twitter" %>
						<input type="radio" name="classify_method" value="twitter_sentiment_analysis">Twitter Sentiment<br>
					<% else %>
						<input type="radio" name="classify_method" value="sentiment_analysis">Sentiment<br>
					<% end %>
					<input type="radio" name="classify_method" value="topic_classification">Topic<br>
					<input type="radio" name="classify_method" value="spam_detection">Spam<br>
					<input type="radio" name="classify_method" value="language_detection">Language Detection<br>

					<input type="hidden" name="text_entry_id" value="<%= @text_entry.id %>">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<input class="btn btn-primary btn-large"type="submit" value="Classify">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="col-md-9">
	<h4>Classifications</h4>
	<table class="table table-bordered">
		<thead>
		<% @text_entry.classifications.each do |c| %>
			<th>
				<% if c.method == "twitter_sentiment_analysis" %>
					<%= c.method.split("_")[1].capitalize %>?
				<% else %>
					<%= c.method.split("_")[0].capitalize %>? 
				<% end %>

				<form class="pull-right" action="<%=classification_path(c)%>" method="post">
					<input type="hidden" value="delete" name="_method">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="text_entry_id" value="<%= @text_entry.id %>">
					<button class="btn-link">delete</button>
				</form>
			</th>
		<% end %>
		</thead>

		<tr>
		<% @text_entry.classifications.each do |c| %>
			<td><%= c.result.capitalize %></td>
		<% end %>
		</tr>

	</table>
</div>