<div class="">
	<h2><%= @text_entry.title %></h2>
	<h4>Type:<%= @text_entry.source %></h4>
	<p class="well"><%= @text_entry.content %></p>
</div>



<div class="">
	<h4>Classifications</h4>
	<table>
		<% @text_entry.classifications.each do |c| %>
		<tr>
			<td><%= c.method.split("_")[0].capitalize %>?</td>
			<td><%= c.result.capitalize %></td>
<!-- 			<td>
				<form action="<%=classification_path(c)%>" method="post">
					<input type="hidden" value="delete" name="_method">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="text_entry_id" value="<%= @text_entry.id %>">
					<button>DELETE</button>
				</form>
			</td> -->
		</tr>
		<% end %>
	</table>
</div>
<div class="col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading"><h3 class="panel-title">Enter a Classification</h3></div>
		<div class="panel-body">
			<form action="<%= classifications_path %>" method="post">
				<div class="form-group">
					<% if @text_entry.source == "twitter" %>
						<input type="radio" name="classify_method" value="twitter_sentiment_analysis">Twitter Sentiment<br>
					<% else %>
						<input type="radio" name="classify_method" value="sentiment_analysis">Sentiment<br>
					<% end %>
					<input type="radio" name="classify_method" value="topic_classification">Topic<br>
					<input type="radio" name="classify_method" value="spam_detection">Spam<br>
					<input type="radio" name="classify_method" value="language_detection">Language Detection<br>

					<input type="hidden" name="text_entry_id" value="<%= @text_entry.id %>">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<input type="submit" value="submit">
				</div>
			</form>
		</div>
	</div>
</div>