<div>
	<h2>My Entries</h2>
	<form action="<%= new_text_entry_path %>" method="get">
		<input type="submit" class="btn btn-primary btn-large" value="Create New Entry">
	</form>
</div>


<table class="table">
	<thead>
		<th>Title</th>
		<th>Type</th>
		<th>Classified?</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Commands</th>
	</thead>
	<% @user_text_entries.each do |t| %>
	<tr class="text_entry_<%=t.id%>">
		<td><strong><a href="<%= text_entry_path(t)%>"><%= t.title %></a></strong></td>
		<td><%= t.source %></td>

		<% if t.classifications.empty? %>
			<td>No</td>
		<% else %>
			<td>Yes</td>
		<% end %>

		<td><%= Time.at(t.created_at.to_i).to_formatted_s(:long_ordinal) %></td>
		<td><%= Time.at(t.updated_at.to_i).to_formatted_s(:long_ordinal)  %></td>

		<td><a href="<%= edit_text_entry_path(t)%>">EDIT</a></td>
		<td>
			<form action="<%=text_entry_path(t)%>" method="post">
				<input type="hidden" value="delete" name="_method">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<button class="btn-link">DELETE</button>
			</form>
		</td>

	</tr>
	<% end %>
</table>